<div class="">
   <br />
   <br />
  <li><a href='#'>
        <i class='material-icons left'>content_paste</i>
        Acerca de materialize
      </a></li>
      <p class="flow-text">Creado y diseñado por Google, Material Design
        es un lenguaje de diseño que combina los principios clásicos del
        diseño exitoso junto con la innovación y la tecnología</p>
<br />
<li><a href='#'>
        <i class='material-icons left'>publicar</i>
        Principios
      </a></li>
      <p class="flow-text">Creado y diseñado por Google, Material Design
        es un lenguaje de diseño que combina los principios clásicos del
        diseño exitoso junto con la innovación y la tecnología</p>
<br />

<div class="card-panel">
    <span class="blue-text text-darken-2">Autor: Garcia Tellez Maria Luisa</span>
  </div>
<br />
    <blockquote>
      <p>Version: {{ appVersion }}</p>
    </blockquote>


</div>
